<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/style.css"  rel="stylesheet">
  <script href="/javascripts/script.js"></script>
  <title>user management </title>

</head>
<body><div id="back">
  <div id="index">

    <% if (success_msg.length > 0) { %>
      <div style="color: green;">
          <%= success_msg %>
      </div>
  <% } %>
  <% if (error_msg.length > 0) { %>
    <div style="color: red;">
        <%= error_msg %>
    </div>
<% } %>
    <form  action="/adduser" method="post" >
      <div class="index_one">
        <h4>User Management</h4>
        <input type="text"  class="index_two" name="firstname" id="firstname"   placeholder="Firstname" required>
        <input type="text" class="index_two" name="lastname"   id="lastname"   placeholder="Lastname" required>
        <input type="text" class="index_two" name="phonenumber" id="phonenumber"   placeholder="Phonenumber" required>
        <input type="text" class="index_two"name="emailid" id="emailid"   placeholder="Emailid" required>
        <input type="text" class="index_two"name="address" id="address"   placeholder="Address" required>
        <button id="index_button"name="submit">Add User</button>
        <ul><li id="view"><a  href="/viewuser">View User</a></li></ul>
      </div>
     
  
    </form>
   
  </div>
  

</div>
</body>
</html>